<div class:"row">
  <div class:"col-md-6">
    <h2>Phone</h2>
    <p>801-259-3241</p>
    
    <h2>Address</h2>
    <p>12345 Main Street</p>
    
    <h2>Email</h2>
    <a href="mailto:ferminsandoval950@hotmail.com?subject=PortfolioContact">Email me</a>
  </div>
  <br>
  <div class:"col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.6043229833763!2d-112.00594778418801!3d40.68268637933511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528d1cc8424843%3A0x1075f5f7fc48544b!2sHunter+(The+County+Library)!5e0!3m2!1sen!2sus!4v1500136627603" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>